<h1>Pages#home</h1>


<% if current_user %>
  <%= link_to 'sign out', destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to 'sign up', new_user_registration_path %>
  or
  <%= link_to 'sign in', new_user_session_path %>
<% end %>



<div class="container">

  <div class="row page-header justify-content-md-center" href="#">
    <a href="">Nanoblogs</a>
  </div>

  <div class="col-md-6 offset-md-3 container">

    <div class="post-container container">
      <textarea placeholder="New post?" name="post-content" cols="65" rows="3"></textarea>
    </div>


    <!-- posts here -->
    <div class="post-container container">
      <div class="row post-header">
        <div class="col">
          <a href="">dimanaux</a>
        </div>
      </div>

      <div class="post-content">
        <!-- <div class="col"> -->
        Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной
        "рыбой" для текстов на латинице с начала XVI века.
        <!-- </div> -->
      </div>

      <div class="row post-footer justify-content-between">
        <div class="col-auto">
          <a href="">at 01/14</a>
        </div>
        <div class="col-auto">
          <a href="">
            delete
          </a>
        </div>
      </div>
    </div>

    <div class="post-container container">
      <div class="row post-header">
        <div class="col">
          <a href="">dimanaux</a>
        </div>
      </div>

      <div class="post-content">
        <!-- <div class="col"> -->
        Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной
        "рыбой" для текстов на латинице с начала XVI века.
        <!-- </div> -->
      </div>

      <div class="row post-footer justify-content-between">
        <div class="col-auto">
          <a href="">at 01/14</a>
        </div>
        <div class="col-auto">
          <a href="">
            delete
          </a>
        </div>
      </div>
    </div>

    <div class="post-container container">
      <div class="row post-header">
        <div class="col">
          <a href="">dimanaux</a>
        </div>
      </div>

      <div class="post-content">
        <!-- <div class="col"> -->
        Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной
        "рыбой" для текстов на латинице с начала XVI века.
        <!-- </div> -->
      </div>

      <div class="row post-footer justify-content-between">
        <div class="col-auto">
          <a href="">at 01/14</a>
        </div>
        <div class="col-auto">
          <a href="">
            delete
          </a>
        </div>
      </div>
    </div>

    <div class="post-container container">
      <div class="row post-header">
        <div class="col">
          <a href="">dimanaux</a>
        </div>
      </div>

      <div class="post-content">
        <!-- <div class="col"> -->
        Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной
        "рыбой" для текстов на латинице с начала XVI века.
        <!-- </div> -->
      </div>

      <div class="row post-footer justify-content-between">
        <div class="col-auto">
          <a href="">at 01/14</a>
        </div>
        <div class="col-auto">
          <a href="">
            delete
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
