<h1>Pages#home</h1>


<% if current_user %>
  <%= link_to 'sign out', destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to 'sign up', new_user_registration_path %>
  or
  <%= link_to 'sign in', new_user_session_path %>
<% end %>
