<div class="post-container container">
  <%= link_to 'New Story', new_story_path %>
</div>

<% @stories.order(created_at: :desc).each do |story| %>
  <%= render 'story_preview', story: story %>
<% end %>
