<h1>New Story</h1>

<%= form_with model: @story do |f| %>
  <%= f.text_area :content, class: 'form-control', input_html: { minlength: 10 } %>
  <%= f.submit 'Create', class: 'btn btn-primary' %>
<% end %>

<%= link_to 'Back', stories_path %>
